{% extends 'main/base.html' %}

{% block content %}


{% for a in page_obj %}
    <div class="card mb-3" style="max-width: 900px;">
  <div class="row g-0">
    <div class="col-md-4">
      {% if a.property.image %}
            <img src="{{ a.property.image.url }}" width="300" height="200" />
        {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ a.property.property_name}}</h5>
        <h5 class="card-title">{{ a.property.person_id.person_name}}</h5>
        <p class="card-text"><small class="text-muted">{{ a.date}}</small></p>
          <a class="btn btn-outline-success me-2" href={{ a.get_absolute_url }}>Подробнее</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}



    <nav aria-label="Page navigation example">
        <ul class="pagination">

        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        {% endif %}





    </ul>
    </nav>



{% endblock %}

